@model ProyectEF.MVC.Models.ShippersView

@{
    ViewBag.Title = "Paguina de transportistas";
    List<ProyectEF.MVC.Models.ShippersView> shippersViews = ViewBag.Shippers;

}
<br>
<div>
    <p class="bigger">Tabla de Transportistas </p>
</div>

<br>
<br>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre de la compania</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipper in shippersViews)
            {
                <tr>
                    <th scope="row">@shipper.Id</th>
                    <td>@shipper.CompanyName</td>
                    <td>@Html.ActionLink("Borrar", "Delete", new { id = shipper.Id }, new { onclick = "return confirm('Estas seguro de borrar este registro?')" }) </td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />

<h2>Agregar transportista</h2>
<br />
<br />
@using (Html.BeginForm("Insert", "Shippers", FormMethod.Post))
{
    <label>Nombre de la compania: </label> @Html.TextBoxFor(s => s.CompanyName)
    <input type="submit" class="btn btn-success" value="Guardar" />
}
<br>
<br>

<h3>Modificar transportista</h3>
<br>
<br>
@using (Html.BeginForm("Update", "Shippers", FormMethod.Post))
{
    <label>Id</label> @Html.TextBoxFor(s => s.Id);
    <label>Nombre de la compania:  </label> @Html.TextBoxFor(s => s.CompanyName)
    <input type="submit" class="btn btn-success" value="Guardar" />
}
<br>
<br>


